.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}


.comment img {
    width: 46px;
    border-radius: 50%;
}

.comment-box {
    flex: 1;
    margin: 0 20px;
    border: 0.8px solid #ccc;
    padding: 16px 12px;
    outline: 0;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 10px 30px #9ba4b54f;
}

.comment-container {
    margin: 20px 0;
    display: block;
}

.details {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 890px) {

    .comment {
        flex-direction: column;
        align-items: flex-start;
    }

    .comment-box {
        margin: 25px 0;
        width: 100%;
    }

}